

body {
    background: url('/images/backgroundimg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Finger Paint', cursive !important;
    text-shadow: 1px 1px 1px #aaa;
    margin: 10px;
}

#Mcontents {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   opacity: 0.1;
   color:black;
   font-size: 100%;
}