<footer class="site">


    <p>&copy; {{ .Site.LastChange.Year }} {{ .Site.Params.Author }}</p>


</footer>

</div>
</div>
</div>


{{ template "_internal/google_analytics_async.html" . }}

</body>

</html>