<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8"> {{ .Hugo.Generator }}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans|Marcellus+SC'>

  <link rel="stylesheet" href="/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}/index.xml">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{ if eq .URL "/" }}
  <title>{{ .Title }}</title>
  <meta property='og:title' content="{{ .Title }}">
  <meta property="og:type" content="website"> {{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article"> {{ end }}

  <meta property="og:url" content="{{ .Permalink }}"> {{ with .Description }}
  <meta name="description" content="{{ . }}">{{ end }} {{ with .Params.image }}
  <meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}

</head>

<body>

  <div class="container">

    <div class="card">
      <h2 class="card-header"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
      <div class="card-block">



        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="/images/ligovskij105main.jpg" alt="Generic placeholder image">
          </div>
          <div class="col-sm-4">
            <h2>Квартира в центре</h2>
            (8 мин. пешком от Невского пр.)
            Лиговкий пр.105

          </div>
          <div class="col-sm-4">
            
          </div>
        </div>


      </div>

    </div>


    <div class="card">

      <div class="card-block">