<!DOCTYPE html>

<html lang="ru">

<head>
  <meta charset="utf-8"> {{ .Hugo.Generator }}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  

  <link rel="stylesheet" href="/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}/index.xml">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{ if eq .URL "/" }}
  <title>{{ .Title }}</title>
  <meta property='og:title' content="{{ .Title }}">
  <meta property="og:type" content="website"> {{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article"> {{ end }}

  <meta property="og:url" content="{{ .Permalink }}"> {{ with .Description }}
  <meta name="description" content="{{ . }}">{{ end }} {{ with .Params.image }}
  <meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}

</head>

<body>

  <div class="container">

    <div class="card">
      <h2 class="card-header"><a href="{{ .Site.BaseURL }}">Без посредников</a></h2>
      <div class="card-block">


        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="/images/ligovskij105main.jpg" alt="Generic placeholder image">
          </div>
          <div class="col-sm-4">
            <h2>Квартира в центре</h2>
            (8 мин. пешком от Невского пр.) Лиговкий пр.105

          </div>
          <div class="col-sm-4">
        <h3>Подробная информация</h3>
            <a href="/details"> <img class='img-fluid' src="/images/orange-arrow-right.png" alt="forsale"></a>
          </div>
        </div>


      </div>

    </div>


    <div class="card">
      <div class="card-block">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0841.JPG" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0842.JPG" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0858.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0839.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0867.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0868.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0878.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0894.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0898.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0901.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0912.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="img-fluid rounded" src="/forsaleimg/IMG_0923.JPG" alt="Third slide">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>



    <div class="card">

      <div class="card-block">




        <footer class="site">


          <p>&copy; {{ .Site.LastChange.Year }} {{ .Site.Params.Author }}</p>


        </footer>

      </div>
    </div>
  </div>


  {{ template "_internal/google_analytics_async.html" . }}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
    crossorigin="anonymous"></script>

</body>

</html>