

body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    
    font-family: 'Comfortaa', cursive !important;
    text-shadow: 1px 1px 1px #aaa;
    margin: 10px;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Comfortaa', cursive !important;
  font-weight: 300;
}
#Mcontents {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   opacity: 0.1;
   color:black;
   font-size: 100%;
}