<footer class="site">

-----------------
    <p>&copy; {{ .Site.LastChange.Year }} <a href="http://mazurov.eu">{{ .Site.Params.Author }} </a></p>
    


</footer>

</div>
</div>
</div>


{{ template "_internal/google_analytics_async.html" . }}

</body>

</html>